body {
  color: #000000;
  background-color: #ffffff;
}
a {
  color: #3c6992;
}
a:hover {
  color: #2d4f6e;
}
.sp-megamenu-parent > li.active > a,
.sp-megamenu-parent > li:hover > a {
  color: #3c6992;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a:hover {
  background: #3c6992;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active > a {
  color: #3c6992;
}
#offcanvas-toggler > i:hover {
  color: #3c6992;
}
ul.social-icons > li a:hover {
  color: #3c6992;
}
.sp-page-title {
  background: #3c6992;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul > li > a {
  color: #000000;
}
.sp-module ul > li > a:hover {
  color: #3c6992;
}
.sp-module .latestnews > div > a {
  color: #000000;
}
.sp-module .latestnews > div > a:hover {
  color: #3c6992;
}
.sp-module .tagscloud .tag-name:hover {
  background: #3c6992;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #3c6992;
}
.search .btn-toolbar button {
  background: #3c6992;
}
.post-format {
  background: #3c6992;
}
.voting-symbol span.star.active:before {
  color: #3c6992;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #2d4f6e;
}
.entry-link,
.entry-quote {
  background: #3c6992;
}
blockquote {
  border-color: #3c6992;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #3c6992;
}
.sp-comingsoon body {
  background-color: #3c6992;
}
.pagination > .page-item > .page-link,
.pagination > .page-item > .page-link {
  color: #000000;
}
.pagination > .page-item > .page-link:hover,
.pagination > .page-item > .page-link:focus,
.pagination > .page-item > .page-link:hover,
.pagination > .page-item > .page-link:focus {
  color: #000000;
}
.pagination > .page-item.active > .page-link,
.pagination > .page-item.active > .page-link {
  border-color: #3c6992;
  background-color: #3c6992;
}
.pagination > .page-item.active > .page-link:hover,
.pagination > .page-item.active > .page-link:focus,
.pagination > .page-item.active > .page-link:hover,
.pagination > .page-item.active > .page-link:focus {
  border-color: #3c6992;
  background-color: #3c6992;
}
.btn.sppb-btn-link,
.sppb-btn.sppb-btn-link,
.btn.btn-link,
.sppb-btn.btn-link,
.sppb-addon-article .sppb-readmore,
.sppb-addon-person
  .sppb-addon-content
  .sppb-person-information
  .sppb-person-designation,
.view-article
  .entry-header
  .helix-social-share-wrap
  .helix-social-share
  .helix-social-share-icon
  ul
  li
  a,
.view-article .entry-header .article-info .category-name,
.view-article .entry-header .article-info dd,
.sp-dropdown li.sp-menu-item > a,
.sp-dropdown li.sp-menu-item span {
  color: #000000;
}
.btn.sppb-btn-success,
.sppb-btn.sppb-btn-success,
.btn.btn-success,
.sppb-btn.btn-success,
.hope-become-a-volunteer .sppb-addon-text-block h2.sppb-addon-title,
.hope-become-a-volunteer .sppb-addon-text-block .sppb-addon-content,
body.home-v2 .hope-become-a-volunteer .sppb-title-heading,
body.home-v2 .hope-become-a-volunteer .sppb-title-subheading,
.home-two-causes-donation .sppb-progress .sppb-progress-bar span,
.sppb-modal-selector.sppb-magnific-popup span i,
.pagination-wrapper .pagination .page-item:hover .page-link,
.pagination-wrapper .pagination .page-item.active .page-link,
.view-article .pagination .page-item .page-link,
.hope-causes.view-article .sppb-addon-donation .donation-button a {
  color: #ffffff;
}
.btn.sppb-btn-success,
.sppb-btn.sppb-btn-success,
.btn.btn-success,
.sppb-btn.btn-success,
.btn.btn-default:hover,
.sppb-btn.btn-default:hover,
.btn.sppb-btn-default:hover,
.sppb-btn.sppb-btn-default:hover,
.btn.btn-default:focus,
.sppb-btn.btn-default:focus,
.btn.sppb-btn-default:focus,
.sppb-btn.sppb-btn-default:focus,
.btn.sppb-btn-primary:hover,
.sppb-btn.sppb-btn-primary:hover,
.btn.btn-primary:hover,
.sppb-btn.btn-primary:hover,
.btn.sppb-btn-primary:focus,
.sppb-btn.sppb-btn-primary:focus,
.btn.btn-primary:focus,
.sppb-btn.btn-primary:focus,
.home-two-causes-donation .sppb-progress .sppb-progress-bar,
.home-two-causes-donation .sppb-progress .sppb-progress-bar:before,
.home-two-causes-donation .sppb-progress .sppb-progress-bar span,
.sppb-slider-fullwidth-wrapper .owl-controls .owl-dots .owl-dot.active span,
.sppb-addon-donation .donation-ammount-wrap input:hover,
.sppb-addon-donation .donation-ammount-wrap input:focus,
.sppb-modal-selector.sppb-magnific-popup span i,
.tags a.label.label-info:hover,
.tags a.label.label-info:focus,
#sp-right .sppb-addon-social-media .social-media-text-wrap a:hover,
#sp-left .sppb-addon-social-media .social-media-text-wrap a:hover,
#sp-right .sppb-addon-social-media .social-media-text-wrap a:focus,
#sp-left .sppb-addon-social-media .social-media-text-wrap a:focus,
.helix-social-share .helix-social-share-icon ul li div a:hover,
.helix-social-share .helix-social-share-icon ul li div a:focus,
.pagination-wrapper .pagination .page-item:hover .page-link,
.pagination-wrapper .pagination .page-item.active .page-link,
.view-article .pagination .page-item .page-link,
.view-article
  .article-footer-top
  .helix-social-share
  .helix-social-share-icon
  ul
  li
  a,
.hope-causes.view-article .sppb-addon-donation .donation-button a,
.sp-comingsoon .acymailing_form .acysubbuttons input,
.error-page .btn.btn-primary,
.sp-dropdown li.sp-menu-item > a:hover,
.sp-dropdown li.sp-menu-item.active > a:hover {
  background: #3c6992;
}
.btn.sppb-btn-link:hover,
.sppb-btn.sppb-btn-link:hover,
.btn.btn-link:hover,
.sppb-btn.btn-link:hover,
.btn.sppb-btn-link:focus,
.sppb-btn.sppb-btn-link:focus,
.btn.btn-link:focus,
.sppb-btn.btn-link:focus,
.major-color,
body.home-v2
  .hope-become-a-volunteer
  .acymailing_module_form
  .acysubbuttons:hover:before,
.sppb-slider-fullwidth-wrapper .customNavigation a:hover,
.sppb-addon-animated-number
  div.sppb-addon-content
  .sppb-animated-number-syntax-before,
.sppb-addon-animated-number div.sppb-addon-content .sppb-animated-number,
.sppb-addon-animated-number
  div.sppb-addon-content
  .sppb-animated-number-syntax-after,
.sppb-addon-social-media .social-media-text-wrap a:hover,
.sppb-addon-social-media .social-media-text-wrap a:focus,
.sppb-addon-upcoming-events .upcoming-events-date span,
.sppb-addon-upcoming-events
  .upcoming-events-details-top-wrapper
  .event-address
  i,
.sppb-addon-article .sppb-addon-article-title a:hover,
.sppb-addon-article .sppb-addon-article-title a:focus,
.sppb-addon-article .sppb-readmore:hover,
.sppb-addon-article .sppb-readmore:focus,
.contact-form-section .sppb-addon-feature .sppb-icon .sppb-icon-container i,
.hope-faq-section .sppb-addon-feature .sppb-icon-container i,
.sppb-addon-person .sppb-person-social-icons .sppb-person-social li a:hover,
.sppb-addon-person .sppb-person-social-icons .sppb-person-social li a:focus,
.article-info > dd,
.article-info > dd a,
article.item .readmore a,
#sp-right .sp-module ul li a:hover,
#sp-left .sp-module ul li a:hover,
#sp-right .sp-module ul li a:focus,
#sp-left .sp-module ul li a:focus,
#sp-right .sp-module .latestnews > div a:hover,
#sp-left .sp-module .latestnews > div a:hover,
#sp-right .sp-module .latestnews > div a:focus,
#sp-left .sp-module .latestnews > div a:focus,
.entry-header h2 a:hover,
.entry-header h2 a:focus,
.pagination-wrapper .pagination li:first-child:not(.active):hover a,
.pagination-wrapper .pagination li:last-child:not(.active):hover a,
.view-article
  .entry-header
  .helix-social-share-wrap
  .helix-social-share
  .helix-social-share-icon
  ul
  li
  a:hover,
.view-article
  .entry-header
  .helix-social-share-wrap
  .helix-social-share
  .helix-social-share-icon
  ul
  li
  a:focus {
  color: #3c6992;
}
.hope-become-a-volunteer {
  background-color: #3c6992;
}
.home-two-causes-donation .sppb-progress .sppb-progress-bar span:before {
  border-right: 6px solid #3c6992;
}
.sppb-addon-donation .donation-ammount-wrap input:hover,
.sppb-addon-donation .donation-ammount-wrap input:focus,
.sppb-addon-ajax-contact
  .sppb-ajax-contact-content
  .sppb-ajaxt-contact-form
  .sppb-form-group
  input:focus,
.sppb-addon-ajax-contact
  .sppb-ajax-contact-content
  .sppb-ajaxt-contact-form
  .sppb-form-group
  textarea:focus {
  border-color: #3c6992;
}
.sppb-addon-gallery ul.sppb-gallery li a:before {
  background: rgba(60,105,146,0.9);
}
.menu-drop-in .sp-has-child .sp-menu-item {
  background-color: #6495cc;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  background: #6495cc;
}
